.addedMovie img { max-height:362px; }
.addedMovie { display: inline-block; }
.movieResult img { max-height:150px; }
.movieResult { display: inline-block; margin: 25px;}
.modal-body {
  height:400px;
  overflow:auto;
}
.whitesmoke {
  background-color: #whitesmoke;
}
.navbar-margin {
  margin-bottom: 50px;
}
.content-margin {
  margin-top: 70px;
}
.header-margin {
  margin-bottom: 10px;
}
