.addedMovie img { max-height:362px; }
.addedMovie { display: inline-block; }
.movieResult img { max-height:150px; }
.movieResult { display: inline-block; margin-right: 10px;}
.modal-body {
  height:400px;
  overflow:auto;
}
.whitesmoke {
    background-color: #f7f7f7;
}
.navbar-margin {
  margin-bottom: 50px;
}
.content-margin {
  margin-top: 70px;
}
.header-margin {
  margin-bottom: 10px;
}
body {
  background-color: #333333;
}
